body{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

img{ 
	max-width: 100%;
}

.content-container{
	display: none;
	float: right;
	width: 70%;
	padding: 1% 2.5%;
}

.active{
	display: block;
}

#left-sidebar{
	float: left;
	width: 20%;
	padding: 1% 2.5%;
}

.img-left{
	float: left;
	max-width: 49.5%;
	margin: 0 .5% 0 0;
}

.img-right{
	float: right;
	max-width: 49.5%;
	margin: 0 .5% 0 0;
}

