body{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.content-container{
	display: none;
	float: right;
	max-width: 70%;
	padding: 1% 2.5%;
}

.active{
	display: block;
}

#left-sidebar{
	float: left;
	max-width: 20%;
	padding: 1% 2.5%;
}

 

