body{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

img{ 
	max-width: 100%;
}

.content-container{
	display: none;
	float: right;
	width: 61%;
	padding: 1% 7%;
}

.active{
	display: block;
}

#left-sidebar{
	float: left;
	width: 20%;
	padding: 1% 2.5%;
}

.img-left{
	float: left;
	max-width: 49.5%;
	margin: 0 .5% 0 0;
}

.img-right{
	float: right;
	max-width: 49.5%;
	margin: 0 .5% 0 0;
}

.subheading{
	font-size: 1.2em;
	padding: 0 12% 1% 8%;
	font-style: italic;
	font-weight: 400;
}

.bold-italic-inline{
	font-style: italic;
	font-weight: 700;
}
